body{
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("./background.jpg"); */
    background-color: cornflowerblue;
    justify-content: center;
align-content: center ;
font-family: monospace;
}
.container{
    align-items: center;
    justify-content: center;
     display: flex;
     margin: 15%;
 
}
.mainDiv{
    display: flex;
    flex-direction: row;
}
.logoDiv{
width: 350px;
padding: 30px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: darkcyan;
color: white;
height: 250px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
opacity: 80%;
}
.logoImg{
    width: 80px;
    height: 80px;
}
.inputsCover{
    display: flex;
    flex-direction: column;
}
.loginDiv{
background-color: white;
width: 350px;
height: 250px;
padding: 30px;
display: flex;
flex-direction: column;
justify-content: center;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}
.inputs{
    border: none;
    border-bottom: 1px solid rgb(214, 208, 208);
    margin: 12px;
    padding: 3px;
}
.loginBtn{
    width:20%;
    margin: 15px;
    background-color: rgb(71, 4, 85);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
}